.t-custom-input-container {
    /*border: 1px solid var(--primary-color);*/
    border-radius: 5px;
}

.t-custom-input {
    border-radius: 5px;
    padding: 10px;
    outline: none;
    font-size: 15px;
    background: inherit;
    color: var(--primary-color);
    border: none;
    box-shadow: 0 0 2px 1px var(--primary-input-border-color);
    height: 30px;
}

.t-custom-input:focus {
    box-shadow: 0 0 2px 2px var(--primary-input-border-color);
}

.t-custom-input:disabled {
    border: none;
    color: var(--primary-input-disabled-border-color);
    box-shadow: 0 0 2px 1px var(--primary-input-disabled-border-color);
}
