.file-drop-container {
    border-radius: 8px;
    background-color: var(--secondary-background-color);
    cursor: pointer;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;

    &:hover, &.drag-on {
        background-color: var(--secondary-hover-background-color);
        box-shadow: 0 0 2px 1px var(--secondary-active-background-color);
    }
}